@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #121212; 
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

body * {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        color: white;
}

.color-picker {
    display: flex;
    align-items: center; 
    padding: 20px;
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.color-option.selected::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 3px solid #89CFF0; 
    border-radius: 50%;
}

.event-theme-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.event-theme-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.event-theme-button img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.event-theme-button span {
    font-weight: bold;
}

.event-theme-button.selected {
    border: 2px solid #007bff; /* Cor da borda quando selecionado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra quando selecionado */
}

.style-section, .cover-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

label {
    font-weight: bold;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle-label {
    background-color: #2196F3;
}

input:checked + .toggle-label:before {
    transform: translateX(26px);
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.upload-button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
}